[Unit]
Description=Kanshi display manager
Documentation=https://sr.ht/~emersion/kanshi
BindsTo=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/kanshi -c %h/.config/kanshi/config
Restart=always
RestartSec=5

[Install]
WantedBy=graphical-session.target
